{% extends 'base.twig' %}

{% block subtitle %}- Cliente - {{ cliente.Nome_Cl ~ ' ' ~ cliente.Cognome_Cl }}{% endblock %}

{% block content %}
	ID: {{ cliente.IDCliente }}<br/>
	Nome: {{ cliente.Nome_Cl }}<br/>
	Cognome: {{ cliente.Cognome_Cl }}<br/>
	Ordini: <br/>
	{% if ordini %}
		<table border="1px">
			<thead>
				<tr>
					<th>Nome Prodotto</th>
					<th>Prezzo Prodotto</th>
				</tr>
			</thead>
			<tbody>
				{% for ordine in ordini %}
					{% set prodotto = ordine.prodotto().find_many() %}
					<tr>
						<td>{{ prodotto[0].Nome_Pr }}</td>
						<td>{{ prodotto[0].Prezzo_Pr }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
	{% else %}
		Nessun ordine.
	{% endif %}
{% endblock %}