{% extends 'base.twig' %}

{% block subtitle %}- Aggiungi Ordine{% endblock %}

{% block content %}
<form method="post" action="{{ app.urlFor("OrdiniAddPost") }}">
	<label for="IDCliente">Cliente</label>
	<select name="idCliente" id="IDCliente">
		<option value=""></option>
		{% for cliente in clienti %}
			<option value="{{ cliente.IDCliente }}"> {{ cliente.Nome_Cl ~ ' ' ~ cliente.Cognome_Cl }}</option>
		{% endfor %}
	</select><br/>
	
	<label for="IDProdotto">Prodotto</label>
	<select name="idProdotto" id="IDProdotto">
		<option value=""></option>
		{% for prodotto in prodotti %}
			<option value="{{ prodotto.IDProdotto }}"> {{ prodotto.Nome_Pr }}</option>
		{% endfor %}
	</select><br/>
	
	<label for="DataOrdine">Data Ordine (in formato ISO8601)</label>
	<input type="datetime" name="dataOrdine" id="DataOrdine"><br/>

	<input type="submit" value="Aggiungi Ordine">
	
</form>
{% endblock %}