{% extends 'base.twig' %}

{% block subtitle %}- Aggiungi Appartiene{% endblock %}

{% block content %}
<form method="post" action="{{ app.urlFor("AppartieneAddPost") }}">
	<table>
		<tr>
			<td><label for="IDProdotto">Prodotto</label></td>
			<td>
				<select name="idProdotto" id="IDProdotto">
					<option value=""></option>
					{% for prodotto in prodotti %}
						<option value="{{ prodotto.IDProdotto }}"> {{ prodotto.Nome_Pr }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td><label for="IDPizzeria">Pizzeria</label></td>
			<td>
				<select name="idPizzeria" id="IDPizzeria">
					<option value=""></option>
					{% for pizzeria in pizzerie %}
						<option value="{{ pizzeria.IDPizzeria }}"> {{ pizzeria.Nome_Pizz }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Aggiungi Appartiene"></td>
		</tr>
	</table>
</form>
{% endblock %}