<div id="ricerca">
	Ricerca personalizzata:<br/>
	<form method="post" action="{{ app.urlFor('OrdiniRicerca') }}">
		<label for="prodotto">Prodotto</label>
		<select name="IDProdotto" id="prodotto">
			<option value=""></option>
			{% for prodotto in prodotti %}
				<option value="{{ prodotto.IDProdotto }}">{{ prodotto.Nome_Pr }}</option>
			{% endfor %}
		</select><br/>
		
		<label for="cliente">Cliente</label>
		<select name="IDCliente" id="cliente">
			<option value=""></option>
			{% for cliente in clienti %}
				<option value="{{ cliente.IDCliente }}">{{ cliente.Nome_Cl ~ ' ' ~ cliente.Cognome_Cl }}</option>
			{% endfor %}
		</select><br/>
		
		<label for="ordine">Ordine</label>
		<select name="DataOrdine" id="ordine">
			<option value=""></option>
			{# Array vuoto che conterrà tutti gli orari trovati #}
			{% set dataOrdine = [] %}
			{% for ordine in ordini %}
				{% if ordine.DataOrdine|date("d/m/Y") not in dataOrdine %}
				
					{% set dataOrdine = dataOrdine|merge([ordine.DataOrdine|date('d/m/Y')]) %}
					
					<option value="{{ ordine.DataOrdine|date("Y-m-d") }}">{{ ordine.DataOrdine|date("d/m/Y") }}</option>
				{% endif %}
			{% endfor %}
		</select><br/>
		
		<input type="submit" value="Ricerca">
	</form>
</div>