{% extends 'base.twig' %}

{% block subtitle %}- Aggiungi Appartiene{% endblock %}

{% block content %}
<form method="post" action="{{ app.urlFor("AppartieneAddPost") }}">
	<label for="IDProdotto">Prodotto</label>
	<select name="idProdotto" id="IDProdotto">
		<option value=""></option>
		{% for prodotto in prodotti %}
			<option value="{{ prodotto.IDProdotto }}"> {{ prodotto.Nome_Pr }}</option>
		{% endfor %}
	</select><br/>
	
	<label for="IDPizzeria">Pizzeria</label>
	<select name="idPizzeria" id="IDPizzeria">
		<option value=""></option>
		{% for pizzeria in pizzerie %}
			<option value="{{ pizzeria.IDPizzeria }}"> {{ pizzeria.Nome_Pizz }}</option>
		{% endfor %}
	</select><br/>

	<input type="submit" value="Aggiungi Appartiene">
	
</form>
{% endblock %}