<div id="ricerca">
	Ricerca personalizzata:<br/>
	<form method="post" action="{{ app.urlFor('ProdottiRicerca') }}">
		<table>
			<tr>
				<td><label for="nome">Nome Prodotto</label></td>
				<td>
					<select name="Nome_Pr" id="nome">
						<option value=""></option>
						{% for prodotto in prodotti %}
							<option value="{{ prodotto.Nome_Pr }}">{{ prodotto.Nome_Pr }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><label for="prezzo">Prezzo Prodotto</label></td>
				<td>
					<select name="Prezzo_Pr" id="prezzo">
						<option value=""></option>
						{% for prodotto in prodotti %}
							<option value="{{ prodotto.Prezzo_Pr }}">{{ prodotto.Prezzo_Pr }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><label for="ingredienti">Ingredienti</label></td>
				<td>
					<select name="IDIngrediente[]" multiple="multiple" id="ingredienti">
						<option value=""></option>
						{% for ingrediente in ingredienti %}
							<option value="{{ ingrediente.IDIngrediente }}">{{ ingrediente.Nome_Ing }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Ricerca"></td>
			</tr>
		</table>
	</form>
</div>